@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/fondo.jpeg);
    background-attachment: fixed;
}

h1{
    color: rgb(240, 133, 2);
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.696);
    text-align: center;
}

p{
    font-weight: 400;
}

h2{
    color: orange;
}
.logo{
    width: 300px;
}
nav{
    background-color: rgb(255, 221, 167);
    padding: 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    nav ul{
        list-style: none;
        display: inline-block;
        display: flex;
    }
        nav ul li{
            display: inline-block;
            margin: 10px 20px;
        }
            nav ul li a{
                color: black;
                text-decoration: none;
                font-size: 2.5rem;
                display: inline-block;
                background: linear-gradient(to down, rgb(167, 108, 0), rgb(245, 181, 62));
            }
.imagenPrincipal{
    width: 100%;
    margin: 10px auto;
}

.novedades{
    background-color: rgba(160, 157, 157, 0.923);
    text-align: center;
    font-size: 2rem;
}
.novedades{
    background-color: rgba(160, 157, 157, 0.923);
    text-align: center;
    font-size: 2rem;
    padding: 40px 60px;
    margin: 10px 30px;
}
.novedades{
    background-color: rgba(160, 157, 157, 0.923);
    text-align: center;
    font-size: 2rem;
    padding: 40px 60px;
    margin: 10px 30px;
}

form{
    background-color: rgba(109, 109, 109, 0.923);
    width: 50%;
    margin: auto;
}
    form label{
        margin-bottom: 3px;
        font-size: 2rem;
        display: block;
    }

    form input{
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

.contacto{
    background-color: rgba(26, 26, 26, 0.923);
    text-align: center;
    font-size: 2rem;
    margin: 10px auto;
    padding: 20px 5px;
}

.pie{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    background-color: rgba(160, 157, 157, 0.923) ;
    padding: 10px 50px;
}

.icono{
    width: 60px;
    margin: 10px 20px;
}

.main_logistica{
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    
}

#logisticas .asociados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
    #logisticas .asociados figure{
        text-align: center;
        background-color: grey;
    }

        #logisticas .asociados figure img{
            width: 300px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

            #logisticas .asociados figure figcaption{
                font-size: 3rem;
                color: orange;
                padding: 10px 0;
                background-color: rgb(66, 66, 66);
            }
            
            #logisticas .asociados p.precio{
                padding: 20px;
                background-color: grey;
                font-size: 2.5rem;
            }

.beneficios{
    font-size: 2.5rem;
    background-color: aliceblue;
    padding: 10px;
    margin: 20px 0;
}

iframe{
    width:100%;
}

.servicios{
    background-color: grey;
    font-size: 2rem;
    color: white;
    padding: 30px 40px;
    margin: 20px 10px;
    text-align: center;
}

.contenedor{
    display: grid;
    grid-gap: 10px;
    align-items: start;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "nav nav "
    "personal novedades"
    "pie pie ";
}

#mainNav{
    grid-area: nav;
}

#logisticas{
    grid-area: personal;
}

#text{
    grid-area: novedades;
}

#footer{
    grid-area: pie;
}



.caja1{
    background-color: rgba(160, 157, 157, 0.923);
    text-align: center;
    font-size: 2rem;
    width: 33%;
    float: left;
}


#mainNav{
    background-color: rgb(255, 221, 167);
}